/* リセット */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ページ全体の構造 */
body {
	display: grid;
	grid-template-areas:
		"header header"
		"nav    main"
		"footer footer";
	grid-template-columns: 1fr 5fr;
}

header {
	grid-area: header;
	background: #F6AD55;
}

nav {
	grid-area: nav;
	background: #F687B3;
}

main {
	grid-area: main;
	background: #68D391;
}

footer {
	padding: 1rem;
	grid-area: footer;
	background: #63b3ed;
	text-align: center;
}

/* UI部品 - カード */
.card {
	background: white;
	border: 1px solid gray;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.card__description {
	padding: 1rem;
	line-height: 1.5;
}

.card__description-marks {
	color: #718096;
}

.label {
	padding: 0 10px;
	background: #B2F5EA;
	border-radius: 10px;
}

.card__description-desk {
}

.card__description-price {
	color: #2D3748;
}

.card__description-rank {
	color: #4A5568;
}

.star--point {
	color: #319795;
}

.star--no-point {
	color: #E2E8F0;
}

/* UI部品 - ボタン */

.button {
	padding: 0 1rem;
	border: none;
	background: #3182ce;
	border-radius: 10px;
	color: white;
	display: flex;
	align-items: center;
}

.button:hover {
	background: #2b6cb0;
}

.button:active {
   	background: #2c5282; 
}

.icon {
	font-size: 2rem;
	position: relative;
	top: -3px;
}
